pandas
yfinance
sqlalchemy
psycopg2-binary
python-dotenv
logger
pyspark==3.5.1
scikit-learn
joblib
feedparser
transformers
torch
pypdf
python-docx
langchain
langchain-text-splitters
sentence-transformers
pinecone
streamlit
langgraph
langchain-ollama
fastapi
boto3